.THIS {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.THIS li {
    border-bottom: solid 1px #DDDDDD;
    padding: 8px;
}

.THIS p {
    margin: 4px;
}
.THIS .addSpacingToNorecordDisplay{
	padding-top: 5rem!important;
    padding-bottom: 5rem!important;
    padding-left: 45rem!important;
    width: 100%!important;
    text-align: center!important;
}
.THIS .addSpacingToNorecord{
    padding-left: 30rem!important;
    width: 70%!important;
    text-align: center!important;
}
.THIS .addlessSpaceToNorecordDisplay{
	padding-top: 3rem!important;
    padding-left: 45rem!important;
    width: 100%!important;
    text-align: center!important;
}